@import "./core.css";
@import "./nav.css";
@import "./left-sidebar.css";
@import "./right-sidebar.css";
@import "./header.css";
@import "./headernav.css";
@import "./footer.css";
@import "./home.css";
@import "./about.css";
@import "./project.css";
@import "./blogs.css";
@import "./drawbook.css";
@import "./pickr.css";
@import "./widgets/left_sidebar/clock.css";
@import "./widgets/left_sidebar/music-player.css";
@import "./widgets/left_sidebar/recent-activity.css";
@import "./widgets/left_sidebar/todo.css";
@import "./widgets/left_sidebar/welcome-widget.css";
@import "./widgets/right_sidebar/changelog.css";
@import "./widgets/right_sidebar/chatbox.css";
@import "./widgets/right_sidebar/clicker.css";
@import "./widgets/right_sidebar/latest-blog.css";
@import "./widgets/right_sidebar/statistic.css";
