.nav {
  width: 100%;
  z-index: 998;
  padding: 0;
}

.nav-content {
  max-width: 100%;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  gap: 0.625rem;
  align-items: center;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  background-color: var(--bg-light);
  display: flex;
  color: var(--text);
  padding: 3px 8px;
  text-decoration: none;
  transition: all var(--transition-fast);
  border: var(--text);
  border: 1px solid;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
  opacity: 1;
}

.nav-links a.active {
  color: var(--accent);
}

@media (max-width: 480px) {
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  .nav-links li {
    flex-grow: 1;
    display: flex;
  }

  .nav-links a {
    width: 100%;
    justify-content: center;
  }
}
