:root {
  color-scheme: dark;
  --bg: #222529;
  --bg-light: #464949;
  --text: #d6d6d6;
  --text-light: #dbd5bc;
  --accent: #78b6ad;
  --accent-light: #87c9e5;
  --accent-text: #222529;
  --border: #dbd5bc;
  --link: #e2aea2;
}
