:root {
  color-scheme: light;
  --bg: #e8e3d5;
  --bg-light: #f4f1e9;
  --text: #1a2e25;
  --text-light: #5c7066;
  --accent: #2d8c68;
  --accent-light: #e0ca3c;
  --accent-text: #1a2e25;
  --border: #c5beb1;
  --link: #b22222;
}
