.moon {
  color: #ffb909;
  position: relative;
  z-index: 1;
}

.moon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle,
      rgba(255, 255, 150, 0.6) 10%,
      rgba(255, 200, 0, 0.2) 50%,
      rgba(255, 255, 150, 0) 90%);
  filter: blur(10px);
  animation: moonGlow 10s infinite alternate;
  z-index: -1;
}

@keyframes moonGlow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
}

.preformatted,
.container,
.train {
  font-family: monospace;
  white-space: pre;
  line-height: 1.1;
  font-size: 6px;
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/42306042/original_db0b95099ecae86519678add5d3b0a6d.gif");
  margin: 0 auto;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 45px;
  margin-top: -1rem;
}

.train {
  white-space: pre;
  display: inline-block;
  animation: moveTrain 20s linear infinite;
  font-family: monospace;
  line-height: 1;
  position: absolute;
  top: -1px;

  --start: -115%;
  --mid: -40%;
  --end: 150%;
}

@keyframes moveTrain {
  0% {
    transform: translateX(var(--start));
  }

  16% {
    transform: translateX(var(--mid));
  }

  36% {
    transform: translateX(var(--mid));
  }

  76% {
    transform: translateX(var(--end));
  }

  100% {
    transform: translateX(var(--end));
  }
}

.come-along {
  text-decoration: none;
  background-color: var(--accent);
  color: #235e1f;
  border-radius: 3px;
}

.come-along:hover {
  background-color: #e5c84a;
}

@media (max-width: 960px) {
  .train {
    --mid: 0%;
    --end: 235%;
  }
}

@media (max-width: 800px) {
  .train {
    --mid: -20%;
    --end: 190%;
  }
}

@media (max-width: 640px) {
  .train {
    --mid: -40%;
    --end: 150%;
  }
}

@media (max-width: 480px) {
  .train {
    --mid: 0%;
    --end: 235%;
  }
}

@media (max-width: 384px) {
  .train {
    --mid: -20%;
    --end: 190%;
  }
}
